.tbl {
	width: 40%; 
	border: 1px solid black;
  margin-top: 15px;
}

.tbl td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

.tbl_activity {
	width: 60%; 
	border: 1px solid black;
  margin-top: 15px;
}

.tbl_activity td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tbl_association {
	width: 60%; 
	border: 1px solid black;
}


.tbl_association td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

p {
	text-align: left;
}

.loggedUser {
  padding-top: 5px;
  color: #FFFFFF;
  font-size: 15px;
}

.select {
  width: 150px;
}

.type_select {
  width: 120px;
}

.filter-container {
  border: 1px solid #000000;
  margin-left: 25%;
  margin-top: 10px;
  padding-left: 5px;
  width: 40%;
}