body {
  font-family: arial, sans-serif;
  text-align: center;
}

html, body {
  margin: 0;
}

.nav {
  width: 100%;
  height: 200px;  
  background-size: cover;
  background-image: url(../images/volleyball.jpg);
}

.nav a {
  text-decoration: none;
  color: #FFFFFF;
}

.nav span {
  display: inline-block;
  float: right;
  margin-top: 2px;
  text-align: right;
}

.nav p {
  display: inline-block;
  margin-left: 90%;
  margin-top: 2px;
  text-align: right;
  font-size: 14px;
}

.nav_container {
  height: 55px;
  width: 680px;
  margin-left: auto;
  margin-right: auto;
  background-color: #DAA520;
  border-radius: 10px;
}

.nav_container ul li {
    list-style: none;
    display: inline;
    padding: 10px;    
}

.nav_container a {
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
}